<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Details</title>
    <script src="https://kit.fontawesome.com/f763e9ac42.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>

    <div class="body-container">
      <div class="btn-container"></div>
      <ul class="messages">
        <a class="back-button" href="/" style="align-self: flex-start"
          ><i class="fa-solid fa-arrow-left"></i><span>Back to Homepage</span></a
        >

        <li class="message">
          <div class="user">
            <%- include('icon') %>
            <div class="title-container">
              <div class="name-title">
                <p class="name"><%=message.user%></p>
              </div>
              <div class="user-handle">
                <p>@<%=message.user.toLowerCase().replaceAll(' ', '_')%> · <%=formatDate(message.added)%></p>
              </div>
            </div>
          </div>
          <div class="message-content">
            <p><%=message.text%></p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
